# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Database
*.db
*.sqlite3
student_management.db

# Flask
instance/
.webassets-cache

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Zip files
# *.zip
